### The objective of this Jupyter Notebook is meet our datasets and take an ide of how is related the data and what insights we can take.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

seattle_listings = pd.read_csv('./Seattle/listings.csv')
seattle_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2318,Casa Madrona - Urban Oasis 1 block from the park!,2536,Megan,Central Area,Madrona,47.61082,-122.29082,Entire home/apt,296,30,28,2019-08-30,0.21,2,84
1,5682,"Cozy Studio, min. to downtown -WiFi",8993,Maddy,Delridge,South Delridge,47.52398,-122.35989,Entire home/apt,48,3,462,2018-11-24,3.99,1,0
2,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65411,-122.33761,Entire home/apt,90,2,147,2019-09-07,1.19,3,85
3,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55062,-122.32014,Private room,62,2,144,2019-09-02,1.29,8,365
4,9460,Downtown Convention Center B&B -- Free Minibar,30832,Siena,Downtown,First Hill,47.61265,-122.32936,Private room,99,3,443,2019-09-02,3.62,4,150

In [3]:
seattle_listings["neighbourhood_group"].value_counts()

Other neighborhoods    1682
Downtown               1662
Capitol Hill            930
Central Area            809
Queen Anne              645
West Seattle            481
Ballard                 471
Cascade                 446
Rainier Valley          429
Beacon Hill             316
Delridge                266
University District     244
Northgate               216
Magnolia                165
Lake City               151
Seward Park              88
Interbay                 39
Name: neighbourhood_group, dtype: int64

In [4]:
seattle_scraped = pd.read_csv('./Seattle/scraped.csv')
seattle_scraped.head()

/anaconda3/envs/Datascience_blog/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2318,https://www.airbnb.com/rooms/2318,20190922030624,2019-09-22,Casa Madrona - Urban Oasis 1 block from the park!,"Gorgeous, architect remodeled, 1917 Dutch Colo...","Casa Madrona is a gorgeous, architect remodele...","Gorgeous, architect remodeled, 1917 Dutch Colo...",none,Madrona is a hidden gem of a neighborhood. It ...,...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,0.21
1,5682,https://www.airbnb.com/rooms/5682,20190922030624,2019-09-22,"Cozy Studio, min. to downtown -WiFi",The Cozy Studio is a perfect launchpad for you...,"Hello fellow travelers, Save some money and ha...",The Cozy Studio is a perfect launchpad for you...,none,NaN,...,f,f,strict_14_with_grace_period,f,t,1,1,0,0,3.99
2,6606,https://www.airbnb.com/rooms/6606,20190922030624,2019-09-22,"Fab, private seattle urban cottage!","This tiny cottage is only 15x10, but it has ev...","Soo centrally located, this is a little house ...","This tiny cottage is only 15x10, but it has ev...",none,"A peaceful yet highly accessible neighborhood,...",...,f,f,strict_14_with_grace_period,f,f,3,3,0,0,1.19
3,9419,https://www.airbnb.com/rooms/9419,20190922030624,2019-09-22,Glorious sun room w/ memory foambed,This beautiful double room features a magical ...,Our new Sunny space has a private room from th...,This beautiful double room features a magical ...,none,"Lots of restaurants (see our guide book) bars,...",...,f,f,moderate,t,t,8,0,8,0,1.29
4,9460,https://www.airbnb.com/rooms/9460,20190922030624,2019-09-22,Downtown Convention Center B&B -- Free Minibar,Take up a glass of wine and unwind on one of t...,Greetings from Seattle. Thanks for considering...,Take up a glass of wine and unwind on one of t...,none,The apartment is situated at the intersection ...,...,t,f,moderate,f,f,4,3,1,0,3.62

In [5]:
list(seattle_scraped.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [6]:
seattle_scraped["neighbourhood_group_cleansed"].value_counts()

Other neighborhoods    1682
Downtown               1662
Capitol Hill            930
Central Area            809
Queen Anne              645
West Seattle            481
Ballard                 471
Cascade                 446
Rainier Valley          429
Beacon Hill             316
Delridge                266
University District     244
Northgate               216
Magnolia                165
Lake City               151
Seward Park              88
Interbay                 39
Name: neighbourhood_group_cleansed, dtype: int64

In [7]:
seattle_reviews = pd.read_csv('./Seattle/reviews.csv')
seattle_reviews.head()

   listing_id        date
0        2318  2008-09-15
1        2318  2017-01-10
2        2318  2017-04-01
3        2318  2017-04-25
4        2318  2017-06-18

In [8]:
seattle_calendar = pd.read_csv('./Seattle/calendar.csv')
seattle_calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2318,2019-09-22,t,$475.00,$475.00,30,1000
1,2318,2019-09-23,t,$475.00,$475.00,30,1000
2,2318,2019-09-24,t,$475.00,$475.00,30,1000
3,2318,2019-09-25,f,$475.00,$475.00,30,1000
4,2318,2019-09-26,f,$475.00,$475.00,30,1000

In [7]:
seattle_neighbourhoods = pd.read_csv('./Seattle/neighbourhoods.csv')
seattle_neighbourhoods.head()

  neighbourhood_group     neighbourhood
0             Ballard             Adams
1             Ballard     Loyal Heights
2             Ballard       Sunset Hill
3             Ballard     West Woodland
4             Ballard  Whittier Heights

In [16]:
pd.set_option('display.max_columns', None)  
seattle_scraped.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_acceptance_rate,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.040000e+03,9.040000e+03,0.0,0.0,0.0,9.040000e+03,0.0,9038.000000,9038.000000,9040.000000,9040.000000,9040.000000,9040.000000,9039.000000,9037.000000,407.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,9040.000000,7682.000000,7680.000000,7680.000000,7679.000000,7681.00000,7679.000000,7680.000000,9040.000000,9040.000000,9040.000000,9040.000000,7741.000000
mean,2.098044e+07,2.019092e+13,NaN,NaN,NaN,5.923561e+07,NaN,126.545253,126.545253,47.625582,-122.333773,3.651106,1.308352,1.372497,1.904614,696.980344,1.982854,4.809292,607.608186,4.486394,5.635841,602.332080,605.420796,5.098595,603.591770,10.189602,25.690376,41.675664,139.407301,48.868363,17.488717,95.229758,9.738151,9.640755,9.819247,9.82320,9.802448,9.517448,32.322345,28.157412,1.431969,0.659403,2.379393
std,1.082978e+07,0.000000e+00,NaN,NaN,NaN,7.073362e+07,NaN,381.021754,381.021754,0.045495,0.031482,2.289956,0.654346,1.016505,1.572850,330.843220,1.671704,14.550328,543.002508,14.375961,15.581040,543.399623,543.038810,14.729447,543.005369,10.342369,21.986550,33.763540,132.205957,73.261488,23.981072,6.981828,0.711963,0.747078,0.641241,0.63224,0.570997,0.770911,77.902838,76.235411,7.305483,5.141889,2.285433
min,2.318000e+03,2.019092e+13,NaN,NaN,NaN,2.000000e+01,NaN,0.000000,0.000000,47.495870,-122.419250,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.303175e+07,2.019092e+13,NaN,NaN,NaN,8.534462e+06,NaN,1.000000,1.000000,47.605620,-122.353913,2.000000,1.000000,1.000000,1.000000,600.000000,1.000000,1.000000,29.000000,1.000000,2.000000,29.000000,29.000000,1.100000,29.000000,0.000000,0.000000,0.000000,4.000000,3.000000,0.000000,94.000000,10.000000,9.000000,10.000000,10.00000,10.000000,9.000000,1.000000,1.000000,0.000000,0.000000,0.500000
50%,2.144738e+07,2.019092e+13,NaN,NaN,NaN,2.905126e+07,NaN,2.000000,2.000000,47.620215,-122.332520,3.000000,1.000000,1.000000,1.000000,600.000000,1.000000,2.000000,1124.000000,2.000000,2.000000,1124.000000,1124.000000,2.000000,1124.000000,7.000000,26.000000,49.000000,91.000000,18.000000,6.000000,97.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,2.000000,1.000000,0.000000,0.000000,1.670000
75%,3.020446e+07,2.019092e+13,NaN,NaN,NaN,8.296168e+07,NaN,10.750000,10.750000,47.659770,-122.312377,4.000000,1.500000,2.000000,2.000000,975.000000,2.000000,3.000000,1125.000000,2.000000,3.000000,1125.000000,1125.000000,3.000000,1125.000000,19.000000,46.000000,73.000000,265.000000,65.000000,27.000000,99.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,8.000000,4.000000,1.000000,0.000000,3.700000
max,3.879903e+07,2.019092e+13,NaN,NaN,NaN,2.961044e+08,NaN,1795.000000,1795.000000,47.735770,-122.234800,28.000000,16.000000,8.000000,49.000000,2750.000000,16.000000,400.000000,10000.000000,400.000000,400.000000,10000.000000,10000.000000,400.000000,10000.000000,30.000000,60.000000,90.000000,365.000000,767.000000,206.000000,100.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,352.000000,352.000000,62.000000,59.000000,14.870000

In [11]:
seattle_calendar["listing_id"].value_counts

<bound method IndexOpsMixin.value_counts of 0              2318
1              2318
2              2318
3              2318
4              2318
             ...
3299595    38459309
3299596    38459309
3299597    38459309
3299598    38459309
3299599    38459309
Name: listing_id, Length: 3299600, dtype: int64>